<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balazs_csernai.seriescruncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.SeriesCruncherApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".serieslist.SeriesListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.WindowBackground"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".seriesdetails.SeriesDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatusBar" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />

        <service
            android:name=".rest.loader.RoboSpiceService"
            android:exported="false" />

        <service android:name=".notification.NotificationService" />

    </application>
</manifest>
